## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## -----------
## This template is called to display different things:
## - the export options (when no confirm query string param exist)
## - the export progress (when a confirm query string param exist) and the export download link when the job is
##   finished
## -----------
#if(!$services.security.authorization.hasAccess('view'))
  #template('accessdenied.vm')
#elseif($doc.isNew())
  $response.setStatus(404)
  #template('startpage.vm')
  #template('hierarchy.vm')
<div class='main layoutsubsection'>
  <div id='mainContentArea'>
    #error($services.localization.render('core.rename.nonexistingDocument'))
  </div>## mainContentArea
</div>## main
  #template('endpage.vm')
#else
  #template('startpage.vm')
  #template('hierarchy.vm')
<div class='main layoutsubsection'>
  <div id='mainContentArea'>
    #if ("$!request.pdf" == 'true')
      #set ($exportTitle = $services.localization.render('latex.exportToPDF.options.title'))
    #else
      #set ($exportTitle = $services.localization.render('latex.export.options.title'))
    #end
    <div id="document-title"><h1>$exportTitle</h1></div>
    #if ("$!request.confirm" == '')
      <form id="latexExportOptions" class="xform half" action="#">
        <dl>
          #set($defaultValues = {})
          #set($discard = $defaultValues.put('author', $xwiki.getUserName($xcontext.user, false)))
          #set($discard = $defaultValues.put('date', $datetool.format('yyyy-MM-dd', $datetool.date)))
          #set($discard = $defaultValues.put('title', $doc.getRenderedTitle('plain/1.0')))
          #set($descriptor = $services.filter.getOutputFilterStreamDescriptor('latex'))
          #set ($propertiesOrder = ['documentClass', 'coverPage', 'coverPageImage', 'title', 'subtitle', 'author', 'date', 'toc', 'pageNumbering', 'listOfFigures', 'listOfTables'])
          #set ($propertiesMap = {})
          #foreach($property in $descriptor.properties)
          #set ($discard = $propertiesMap.put($property.id, $property))
        #end
          #foreach($id in $propertiesOrder)
          #set ($property = $propertiesMap.get($id))
          #displayProperty($property, $defaultValues)
        #end
        </dl>
        <div class="buttons">
          <span class="buttonwrapper"><input type="submit" name="confirm" value="$services.localization.render('export')" class="button" /></span>
        </div>
        ## We preserve the original request parameters but we put them at the end so that they don't overwrite the
        ## parameters from the LaTeX export form.
        <div class="hidden">
          #foreach ($entry in $request.parameterMap.entrySet())
            #foreach($value in $entry.value)
              <input type="hidden" name="$escapetool.xml($entry.key)" value="$escapetool.xml($value)" />
            #end
          #end
        </div>
      </form>
    #else
      #displayProgressBar()
    #end
    <div class="clearfloats"></div>
  </div>## mainContentArea
</div>## main
  #template("endpage.vm")
#end
## Display export options
#macro(displayProperty $property $defaultValues)
  #set($propertyId = "property_${property.id}")
<dt>
  <label for="$propertyId">$property.name</label>
  <span class="xHint">$property.description</span>
</dt>
<dd>
  #set ($defaultValue = $defaultValues.get($property.id))
  #if ($property.type.getName() == 'boolean')
    <input type="checkbox" id="$propertyId" name="$propertyId" value="true"#if($request.get($propertyId) == 'true' || $property.defaultValue == true || $defaultValue == true) checked#end/>
    <!-- If first one is not set then false will get the priority -->
    <input type="hidden" id="$propertyId" name="$propertyId" value="false"/>
  #elseif ($property.type.getName() == 'java.util.Date')
    <input type="text" id="$propertyId" name="$propertyId" value="#if($request.get($propertyId))$escapetool.xml($request.get($propertyId))#elseif($defaultValue)$defaultValue#elseif($property.defaultValue)$datetool.format('yyyy-MM-dd', $property.defaultValue)#end"/>
  #else
    <input type="text" id="$propertyId" name="$propertyId" value="#if($request.get($propertyId))$escapetool.xml($request.get($propertyId))#elseif($defaultValue)$escapetool.xml($defaultValue)#elseif($property.defaultValue)$escapetool.xml($property.defaultValue)#end"/>
  #end
</dd>
#end
#macro (displayProgressBar)
  ## Right now we have to use a copy of the job macro templates since there's no working extension point in them to
  ## display our own success message (to download the prepared export file).
  #template('latex/job_macros.vm')
  #set($jobId = $request.getParameterValues('jobId'))
  #set($jobStatus = $services.job.getJobStatus($jobId))
  #if ($jobStatus)
    #displayJobStatus($jobStatus, 'latex.export.job', $NULL, true)
  #else
    $response.setStatus(404)
  <div class="box errormessage">
    $services.localization.render('latex.export.status.notFound', $stringtool.join($jobId, '/'))
  </div>
  #end
#end